.item{
	height: 30px;
	padding-top: 10px;
	padding-left: 10px;
	margin: 0px;
}

.showPromotion img {
	margin-right: 10px;
	margin-bottom: -20px;
	float: right;
}

.gray{
	background-color: #AAA;
}
.white{
	background-color: #DDD;
}

#container{
	width: 480px;
}

