<!doctype html>
<html lang="en" ng-app="shoppingApp">
<head>
  <meta charset="utf-8">
  <title>New Cart - A shopping cart with special offers</title>
  <meta name="viewport" content="user-scalable=no, initial-scale=1, width=device-width, height=device-height" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css">
  <link href="/image/favicon.ico" rel="icon" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/image/cart.png"/>
  <script src="script/lib/jquery.min.js"></script>
  <script src="script/angular/angular.min.js"></script>
  <script src="script/angular/angular-route.min.js"></script>
  <script src="script/angular/angular-touch.min.js"></script>
  <script src="script/lib/bootstrap.min.js"></script>
  <!--<<script src="script/lib/angular-strap.min.js"></script>
  script src="script/lib/ui-bootstrap.js"></script>-->
  
  <script src="script/lib/underscore.js"></script>
  <script src="script/app.js"></script>
  <script src="script/controllers.js"></script>
  <script src="script/underscoreModule.js"></script>
  <script src="script/directives.js"></script>
  <script src="script/services.js"></script>
  <script src="script/util.js"></script>
  <script src="script/lib/fastclick.min.js"></script>
</head>
<body>
<div ng-view class='view'></div>
</body>
</html>
