<!doctype html>
<html lang="en" ng-app="shoppingApp">
<head>
  <meta charset="utf-8">
  <title>Shopping list</title>
<<<<<<< HEAD
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="script/angular/angular.js"></script>
  <script src="script/angular/angular-route.js"></script>
  <script src="script/lib/underscore.js"></script>
  <script src="script/app.js"></script>
  <script src="script/controllers.js"></script>
  <script src="script/underscoreModule.js"></script>
</head>
<body>
<div>
  start
</div>
<div ng-view></div>

=======
  <meta name="viewport" content="width=device-width", initial-scale="1.0">
  <meta name="description" content="habit forming tool">
  <meta name="keywords" content="habit forming,Make habit,21 days,self improvment">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

  <link rel="stylesheet" href="/stylesheets/habitor.css" />
</head>
<body>
  <script type="text/javascript" src='/script/habitor.js'></script>
  <h1> my shopping list </h1>
  <div id='container'>
    <form class="form-horizontal">
        <div class="form-group">
          <input type="text" id="item" name="item">
          <input type="submit" id="submitButton" name="submitButton" value="add"
          class="btn btn-info">
        </div>
    </form>
    <div id='mylist'>
    </div>
    <div id='data' style='display:none'>
    </div>
    <div id="dialog-modal" title="Currently on sale">
    </div>
  </div>
>>>>>>> f1d95fd32d344d422ebb175d257a5ddad75b8ea3
</body>
</html>
