<!doctype html>
<html lang="en" ng-app="shoppingApp">
<head>
  <meta charset="utf-8">
  <title>Shopping list</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="script/angular/angular.js"></script>
  <script src="script/angular/angular-route.js"></script>
  <script src="script/lib/underscore.js"></script>
  <script src="script/app.js"></script>
  <script src="script/controllers.js"></script>
  <script src="script/underscoreModule.js"></script>
</head>
<body>
<div>
  start
</div>
<div ng-view></div>
</body>
</html>
