/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 1024px) {
  .wrap{
  width: 100%;
  margin: 2px;
  min-height: 100%;
  border-radius: 10px;
  border-top: solid 2px #2c3033;
  background: rgb(255,228,138);
  box-shadow: 0 0 0px 1px rgba(255,255,255,.4),
            0 0 0px 3px #2c3033;
  }
  body, html {
    height: 100%;
  }


}

@media 
only screen and (-webkit-min-device-pixel-ratio: 1.25), 
only screen and (min-device-pixel-ratio : 1.5) 
(min-resolution: 120dpi){
  .wrap{
  width: 100%;
  margin: 2px;
  min-height: 100%;
  border-radius: 10px;
  border-top: solid 2px #2c3033;
  background: rgb(255,228,138);
  box-shadow: 0 0 0px 1px rgba(255,255,255,.4),
            0 0 0px 3px #2c3033;
  }
  body, html {
    height: 100%;
    margin: 0px;
  }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  .wrap{
  width: 480px;
  margin: 50px auto;
  min-height: 100%;
  border-radius: 10px;
  border-top: solid 2px #2c3033;
  background: rgb(255,228,138);
  box-shadow: 0 0 0px 1px rgba(255,255,255,.4),
            0 0 0px 3px #2c3033;
}
  body, html {
    height: 780px;
  }
}


.mymodal{
  width: 260px;
  overflow: auto;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
  display: inline-block;
  margin-top: 20%;
}

.modal-header{
  text-align: left;
}


a:hover{
  text-decoration: none;
}

.wrap{
  width: 100%;
  margin: 2px;
  min-height: 100%;
  border-radius: 10px;
  border-top: solid 2px #2c3033;
  background: rgb(255,228,138);
  box-shadow: 0 0 0px 1px rgba(255,255,255,.4),
            0 0 0px 3px #2c3033;
  }
  body, html {
    height: 100%;
  }

.view{
  padding-left: 0px;
  padding-right: 2px;
  height: 100%;
}

.header{
  width: 100%;
  height: 50px;

  border-radius: 10px 10px 0 0px;
  

  background-color: #3b4755; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(top, #687480, #3b4755); /* For Chrome and Safari */
  background-image:    -moz-linear-gradient(top, #687480, #3b4755); /* For old Fx (3.6 to 15) */
  background-image:     -ms-linear-gradient(top, #687480, #3b4755); /* For pre-releases of IE 10*/
  background-image:      -o-linear-gradient(top, #687480, #3b4755); /* For old Opera (11.1 to 12.0) */ 
  background-image: linear-gradient(#687480 0%, #3b4755 100%); /* Standard syntax; must be last*/ 

  font: bold 18px/50px arial;
  color: white;
  box-shadow: inset 0 -2px 3px 2px rgba(0,0,0,.4),
            0 2px 2px 2px rgba(0,0,0,.4);
  text-align: center;
}

.wrap-list{
  height: 85%;
  padding: 0;
  #box-shadow: inset 0 0px 5px black;
  #border-radius: 0 0 10px 10px;
  #background-image: linear-gradient(transparent 97%, gray 100%);
}

.wrap-list ol{
  margin: 0;
}

input[type="checkbox"]{
  top: 14px;
  right: 12px;
}
input[type="checkbox"]:checked + label{
  text-decoration: line-through;
  color: rgba(0,0,0,.3);
}

.list{
  list-style: none;
   background: rgb(255,228,138);
}

.list li{
  font-size: 15px;

  line-height: 28px;
  text-align: center;
  margin-top: 4px;
  border-bottom: 1px solid;
  border-bottom-color:#ff8810;
}

.savelist li{
  border-bottom: 2px solid;
  border-bottom-color:#ff8810;
  margin-top: 4px;
}

.left{
  float: left;
  margin-left: 5px;
}

.header input{
  margin-left: 5px;
  margin-top: 8px;
  width: 60%;
  height: 20px;
  border-radius: 5px 5px 5px 5px;
  float: left;
}

.header a
{
  font-size: 28px;
  color: #0088cc;
}

.header a:hover{
  color: #0088cc;
}

.header span{
  color: rgb(255,228,138);
}

#topsaving{
  float: right;
  padding-right: 8px;
}

#config{
  float: right;
  padding-right: 15px;
}

#back{
  float: left;
  margin-left: 12px;
}

.saving{
  margin-top: -32px;
  padding-right: 10px;
  font-size: 22px ;
  color: red;
  float: right;
}

a.saving:hover{
  color: red;
}

.red{
  color:red;
}

.savelist{
  list-style: none;
}

.remove{
  margin-top: -32px;
  padding-right: 10px;
  font-size: 22px ;
  color: #888;
  float: right;
}

.name{ 
  padding-left: 5px; 
}

a:hover{
  color: #0088cc
}

.bought{
  text-decoration: line-through;
  color: #888;
}

.center{
  text-align: center;
}

.right{
  float: right;
  padding-right: 10px;
}
.popover_close{
  padding-top: 14px;
}

.number_price{
  font-size: 15px;
  color: red;
  font-weight: bold;
}

.big{
  font-size: 200%;
}
.string_price{
  font-size: 12px;
  color: red;
}

.Coles{
  color: red;
}

.Wollies{
  color: green;
}

.spinner{
  position: fixed;
    left: 0px;
    top: 0px;
/*    filter: alpha(opacity=80); 
    -khtml-opacity: 0.8;      
    -moz-opacity: 0.8;      
    opacity: 0.8;      */
    width: 100%;
    height: 100%;
    z-index:1000 !important;
    background: rgba(0, 0, 0, 0.8);
/*    background-color:black;*/
    text-align: center;
    vertical-align:middle;
}
.ajax-loader {
    max-width: 70%;
    padding-top: 20%;
    height: auto;
    width: auto\9;  
    opacity: 1.0;  
}

.mainconfig{
  padding-left: 8px;
}

.mainconfig li{
  list-style: disc;
}

#loadmore{
  text-align: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.gray{
  color: #bbb;
}

.linkcolor{
  color: #0088cc;
}

.green{
  color:green;
}

.checked{
  color: green;
  text-shadow: rgb(102, 153, 145) 0px 1px 0px;
}

.tick{
  font-size: 18px;
}
