<div class="wrap">
	<div class="header">
		<img id='back' src='image/back.png' ng-click="navTo('#/mylist')"/>
		<span>Promotions</span>
	</div>
	<div class='spinner' ng-if='showSpinner'>
		<img ng-src='{{current_img}}' class='ajax-loader'/>
		<div class='popover_close'>
			<a href='' ng-click="hideSpinner()"> <img src='image/close.png'/> </a>
		</div>
	</div>

	<div class='spinner' ng-if='showError'>
		<div class="mymodal">
		  <div class="modal-header">
		    <button type="button" class="close" ng-click='closeError()' aria-hidden="true">&times;</button>
		    <h3>Error</h3>
		  </div>
		  <div class="modal-body">
		    <p>{{errMsg}}</p>
		  </div>
		  <div class="modal-footer">
		    <a href="#" class="btn" ng-click='closeError()'>Close</a>
		  </div>
		</div>
	</div>
	
	<div class="wrap-list">
		<ol class='savelist'>
			<li ng-repeat="item in list">
				<table border='0' width='100%' class='center'>
					<tr>
						<td width='45px'>
							<span ng-class="item['supplier']">
								<img ng-src= "/image/{{item['supplier']}}.png"></img>
							</span>
						</td>
						<td>
							<a href='' ng-click="showImg(item['img'])" >{{item["name"]}}</a>
						</td>
						<td width='55px'>
							<div ng-if="item['save'] != 0"> 
								<font size='0.8em' >{{item["oldPrice"]}}</font>
							</div>
							<div>
								<span class="string_price">{{item["newPrice"]}}</span>
							</div>
							<div ng-if="item['save'] != 0">
								<font size='1.8em' >{{item["save"]}}% off</font>
							</div>
						</td>
						<td width='30px' ng-click="addToList(item)">
							<img src='image/add.png'/>	
						</td>
				</table>
			</li>
		</ol>
	</div>
</div>
