<div class="wrap">
	<div class="header">
		<a href='#/mylist'><i class="fa fa-long-arrow-left"></i></a>
		<a id='config' href="config"><i class="fa fa-wrench"></i></a>
	</div>
	<div class="wrap-list">
		<ol class='savelist'>
			<li ng-repeat="item in list">
				<table border='1' width='100%'>
					<tr>
						<td width='45px'>
							<font color='red' >{{item["supplier"]}}</font>
						</td>
						<td rowspan='3'>
							{{item["name"]}}
						</td>
						<td>
							<font size='0.8em' >{{item["oldPrice"]}}</font>
						</td>
					</tr>
					<tr>
						<td rowspan='2'><i class="fa fa-picture-o"></i></td>
						<td width='55px'>
							<font size='2.8em' >{{item["newPrice"]}}</font>
						</td>
					</tr>
					<tr>
						<td>
							<font size='1.8em' >{{item["save"]}}% off</font>
						</td>
					</tr>
				</table>
				 </li>
		</ol>
	</div>
</div>
