<div class="wrap">
	<div class="header">
		<input type="text" id="item" ng-model='newItem' required ng-trim='true' ng-enter='addItem()'></input>
		<a  class='left' href="" ng-click="addItem()"><i class="fa fa-plus-circle"></i></a>
		<a id='config' href="#/config"><i class="fa fa-wrench"></i></a>
		<a id='topsaving' href="#/topsavings"><i class="fa fa-thumbs-o-up"></i></a>
	</div>
	<div class="alert alert-warning alert-dismissable center" ng-if='isExpired'>
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	  Some of the promotions may be out of date. <a href='' ng-click='refresh()'>Click here</a> to refresh
	</div>
	<div class='spinner' ng-if='showSpinner'>
		<img src='/image/spinner.gif' class='ajax-loader'/>
	</div>

	<div class="wrap-list">
		<ol class="list">
			<li ng-repeat="item in list"> 
				<table width='100%'>
					<tr>
						<td ng-click='navTo(item["name"], item["save"])' class='main'>
							<span class='name'> {{item["name"]}} </span>
							<span ng-if='item["save"]'  class='gift'><i class="fa fa-gift"></i> </span>
						</td>
						<td width='30px'>
							<span class='large right gray'>
								<i class="fa fa-shopping-cart" ng-click="toggleBoughtItem(item['name'], true)" ></i>
							</span>
						</td>
					</tr>
				</table>
				<!-- <div class='main' >

					
					
					
				</div>
				 -->
			</li>
			<li/>
			<li ng-repeat="item in boughtList"> 
				<div class='main'>
					<a  href='' ng-click="toggleBoughtItem(item['name'], false)" ><i class="gray fa fa-undo"></i></a>
					<span class='bought'>{{item["name"]}}</span>
				</div>
				<span class='remove' ng-click="removeItem(item['name'])"><i class="fa fa-times"></i> </span>
			</li>
		</ol>
	</div>
</div>
