<div class="wrap">
	<div class="header">
		<table width='100%' border='0'>
			<tr>
				<td id='celladd'>
					<input type="text" id="item" ng-model='newItem' required ng-trim='true' ng-enter='addItem()'  placeholder="Item to buy"></input>
					<img src='image/add.png' ng-click="addItem()"/>
				</td>
				<td>&nbsp; &nbsp;</td>
				<td width = '38px'>
					<img src='image/favorites.png' ng-click="navTo('#/topsavings')"/>
				</td>
				<td width = '38px'>
					<img src='image/settings.png' ng-click="navTo('#/config')"/>
				</td>
				<td width = '38px'>
					<img src='image/view_refresh.png' ng-click="refresh()"/>
				</td>
				
			</tr>
		</table>		
		
	</div>
	<div class="alert alert-warning alert-dismissable center" ng-if='isExpired'>
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	  Some of the promotions may be out of date. <a href='' ng-click='refresh()'>Click here</a> to refresh
	</div>
	<div class='spinner' ng-if='showSpinner'>
		<img src='/image/spinner.gif' class='ajax-loader'/>
	</div>

	<div class='spinner' ng-if='showError'>
		<div class="mymodal">
		  <div class="modal-header">
		    <button type="button" class="close" ng-click='closeError()' aria-hidden="true">&times;</button>
		    <h3>Error</h3>
		  </div>
		  <div class="modal-body">
		    <p>{{errMsg}}</p>
		  </div>
		  <div class="modal-footer">
		    <a href="#" class="btn" ng-click='closeError()'>Close</a>
		  </div>
		</div>
	</div>

	<div class="wrap-list">
		<ol class='list'>
			<li ng-repeat="item in list"> 
				<table width='100%' border='0'>
					<tr>
						<td width='30px' ng-click="removeItem(item['name'])">
							<img class='offer' src='image/delete.png'>
						</td>
						<td ng-if='item["save"]' ng-click='showItem("{{item["name"]}}")'>
							<span class='name'> {{item["name"]}} </span>	
						</td>
						<td ng-if='item["save"] == false'>
							<span class='name'> {{item["name"]}} </span>	
						</td>
						<td width='30px'>
							<span ng-if='item["save"]' ng-click='showItem("{{item["name"]}}")' class='red'>
								<img class='offer' src='image/offer.png'>
							</span>
						</td>
					</tr>
				</table>
			</li>
			<li>
				<div style='height:28px'/>
			</li>
			<li ng-repeat="item in boughtList"> 
				<table width='100%'>
					<tr>
						<td width='30px' ng-click="toggleBoughtItem(item['name'], false)" >
							<span class='green tick'>✔</span>
						</td>
						<td>
							<span class='bought'>{{item["name"]}}</span>
						</td>
						<td width='30px' ng-click="removeItem(item['name'])">
							<img class='offer' src='image/delete.png'>
						</td>
					</tr>
				</table>	
			</li>
		</ol>
	</div>
</div>
